<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <dubbo:application name="pinyougou-search-service"/>
    <dubbo:registry protocol="zookeeper" address="192.168.12.131:2181"/>
    <dubbo:protocol name="dubbo" port="20882"/>
    <dubbo:annotation package="com.pinyougou.search.service.impl"/>
</beans>