<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:jms="http://www.springframework.org/schema/jms"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/jms http://www.springframework.org/schema/jms/spring-jms.xsd">

    <context:property-placeholder location="classpath:application.properties"/>

    <bean class="org.apache.activemq.ActiveMQConnectionFactory" id="activeMQConnectionFactory">
        <property name="brokerURL" value="${brokerURL}"/>
    </bean>

    <bean class="org.springframework.jms.connection.SingleConnectionFactory" id="singleConnectionFactory">
        <property name="targetConnectionFactory" ref="activeMQConnectionFactory"/>
    </bean>

    <jms:listener-container connection-factory="singleConnectionFactory" destination-type="topic">
        <jms:listener destination="page.topic" ref="pageMessageListener"/>
        <jms:listener destination="page.delete.topic" ref="deleteMessageListener"/>
    </jms:listener-container>

    <bean id="pageMessageListener" class="com.pinyougou.item.listener.PageMessageListener"/>

    <bean id="deleteMessageListener" class="com.pinyougou.item.listener.DeleteMessageListener"/>

</beans>